<div class="container">
  <div class="row">
    <h1 class="display-3 text-center">Datos de la localidad</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Provincia</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @locality.name %></td>
          <td><%= all_provinces[@locality.province] %></td>
          <td>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ver Acciones
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"><%= link_to 'Editar', edit_locality_path(@locality) %></a></li>
                <li><a class="dropdown-item"><%= link_to 'Eliminar', @locality, method: :delete, data: { confirm: 'Estás seguro de que deseas eliminarlo?'} %></a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <% if @locality.branches.empty?  %>
      <h1> La localidad no tiene Sucursales.</h1>     
    <% else %>
    <h1 class="display-3 text-center">Sucursales</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <%- @locality.branches.each do |branch|%>
        <tbody>
          <tr>
            <td><%= branch.name %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
         
    <% end %>
  </div>
   
    <div><%= link_to 'volver', localities_path %></div>
</div>