<div class="form-group">
  <%= form_with model: @branch do |f| %>
    <% @branch.errors.full_messages.each do |error| %>
      <div>
        <% error %>
      </div>
    <% end %>
    <div>
      <%= f.label :Nombre %><br>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
    <div>
      <%= f.label :Dirección %>
      <%= f.text_field :address, class: 'form-control', required: true %>
    </div>
    <div>
      <%= f.label :Teléfono %>
      <%= f.text_field :telephone, class: 'form-control', required: true %>
    </div>
    <div>
      <%= f.label :Localidad %>
      <%= f.collection_select :locality_id, @localities, :id, :name_province %>
    </div>
    
    <div>
      <%= f.submit 'Guardar', :class => 'btn btn-success' %>
    </div>
  <% end %>
</div>
