<div class="container">
  <h1 class="display-4 text-center">Todos las Sucursales</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Localidad</th>
        <% if Current.user.admin? %>
        <th>Acciones</th>
        <% end %>
      </tr>
    </thead>
    <%- @branches.each do |branch| %>
      <tbody>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.address%></td>
          <td><%= branch.telephone %></td>
          <td><%= branch.locality.name_province%></td>
          <% if !Current.user.customer? %>
          <td>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ver Acciones
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"><%= link_to 'Ver horarios', branch_path(branch) %></a></li>
                <% if Current.user.admin?%>
                <li><a class="dropdown-item"><%= link_to 'Editar', edit_branch_path(branch) %></a></li>
                <li><a class="dropdown-item"><%= link_to 'Eliminar', branch, method: :delete, data: { confirm: 'Estás seguro de que deseas eliminarlo?'} %></a></li>
              <% end %>
              </ul>
            </div>
          </td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
  <div><%= link_to 'volver', home_index_path %></div>
</div>
