<div class="container">
  <div class="row">
    <div class="row">
      <h1 class="display-3 text-center">Datos de la Sucursal</h1>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Localidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= @branch.id %></th>
            <td><%= @branch.name %></td>
            <td><%= @branch.address %></td>
            <td><%= @branch.telephone %></td>
            <td><%= @branch.locality.name%></td>
            <td>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ver Acciones
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item"><%= link_to 'Editar', edit_branch_path(@branch) %></a></li>
                  <li><a class="dropdown-item"><%= button_to 'Eliminar', @branch, method: :delete %></a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <h1 class="display-3 text-center">Horarios</h1>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Día</th>
            <th scope="col">Hora de Apertura</th>
            <th scope="col">Hora de Cierre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <%- @branch.schedules.each do |schedule| %>
          <tbody>
            <tr>
              <th><%= schedule.id %></th>
              <td><%= Schedule.days[schedule.day] %></td>
              <td><%= schedule.start_time.strftime("%k:%M") %></td>
              <td><%= schedule.end_time.strftime("%k:%M") %></td>
              <td>
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ver Acciones
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item"><%= link_to 'Editar', edit_schedule_path(schedule) %></a></li>
                    <li><a class="dropdown-item"><%= link_to 'Eliminar', schedule, method: :delete, data: { confirm: 'Estás seguro de que deseas eliminarlo?'} %></a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <h2>Agregar Horario:</h2>
    <%= form_for([@branch, @branch.schedules.build]) do |f| %>
      <% @branch.errors.full_messages.each do |error| %>
        <div>
          <% error %>
        </div>
      <% end %>
      <div >
        <%= f.label :Día %>
        <%= f.select :day,
                options_for_select(get_available_days, params[:day]) %>
      </div>
      <div >
        <%= f.label :Inicio, 'Hora de Apertura' %>
        <%= f.time_select :start_time, required: true %>
      </div>
      <div >
        <%= f.label :Fin, 'Hora de cierre' %>
        <%= f.time_select :end_time, required: true %>
      </div>
      <div >
        <%= f.submit 'Guardar', :class => 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div><%= link_to t('common.volver'), branches_path %></div>
</div>
