<div class = "container">
  <h1 class="display-3 text-center">Cambiar mi contraseña</h1>
  <div class="form-group">
    <%= form_with model: @user, :url =>{:action => :update_password} do |f| %>
      <% @user.errors.full_messages.each do |error| %>
        <div>
          <% error %>
        </div>
      <% end %>
      <div>
        <%= f.label :contraseña %><br>
        <%= f.password_field :password, class: 'form-control', required: true %>
      </div>
      <div>
        <%= f.label :Nueva %><br>
        <%= f.password_field :new_password, class: 'form-control', required: true %>
      </div>
      <div>
        <%= f.label :Confirmar %><br>
        <%= f.password_field :confirm_password, class: 'form-control', required: true %>
      </div>
      <div>
        <%= f.submit 'Cambiar', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div><%= link_to 'volver', home_index_path %></div>
</div>
