<div class="container">
  <div class="row">
    <h1 class="display-4 text-center">Editar Usuario</h1>
    <div class="form-group col-md-6">
      <%= form_with model: @user do |f| %>
        <% @user.errors.full_messages.each do |error| %>
          <div>
            <% error %>
          </div>
        <% end %>
        <div>
          <%= f.label :username %><br>
          <%= f.text_field :username, class: 'form-control', required: true %>
        </div>
        <div>
          <%= f.label :email %><br>
          <%= f.email_field :email, class: 'form-control', required: true  %>
        </div>
        <% if Current.user.admin? %>
          <div>
            <%= f.label :role, 'Cambiar rol' %><br>
            <%= f.select :roles, 
              options_for_select(get_roles, @user.role) %>
          </div>
        </div>
        <div>
          <%= f.label :Roles, 'Sucursal' %><br>
          <%= f.collection_select :branch_id, @branches, :id, :name %>
        </div>
      <% end %>
      <div>
        <%= f.submit 'Editar', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div><%= link_to 'volver', users_path %></div>
</div>
</div>
