<div class="container">
  <h1 class="display-3 text-center">Datos de Usuario</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <% if !@user.branch_id.blank? %>
        <th scope="col">Sucursal ID</th>
        <% end %>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= @user.id %></th>
        <td><%= @user.username %></td>
        <td><%= @user.email %></td>
        <% if !@user.branch_id.blank? %>
        <td><%= @user.branch_id %></td>
        <% end %>
        <td><%= Role.roles[@user.roles.pluck(:name)[0]] %></td>
      </tr>
    </tbody>
  </table>
  <div><%= link_to 'volver', users_path %></div>
</div>
