<div class="container">
  <div class="row">
    <h1 class="display-3 text-center">Datos de Usuario</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
          <% if !@user.branch_id.blank? %>
            <th scope="col">Sucursal ID</th>
          <% end %>
          <% if !@current_user.customer?%>
            <th scope="col">Rol</th>
          <% end %>
          <% if (!@current_user.bank_staff? and @current_user.id == @user.id) or @current_user.admin? %>
            <th scope="col">Acciones</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.username %></td>
          <td><%= @user.email %></td>
          <% if !@user.branch_id.blank? %>
            <td><%= @user.branch_name %></td>
          <% end %>
          <% if !@current_user.customer?%>
            <td><%= @roles[@user.roles.pluck(:name)[0]] %></td>
          <% end %>
          <% if (!@current_user.bank_staff? and @current_user.id == @user.id) or @current_user.admin? %>
            <td>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ver Acciones
                </a>
                <ul class="dropdown-menu">
                  <% if @current_user.admin? %>
                    <li><a class="dropdown-item"><%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Estás seguro de que deseas eliminarlo?'} %></a></li>
                  <% end %>
                  <li><a class="dropdown-item"><%= link_to 'Editar', edit_user_path(@user) %></a></li>
                </ul>
              </div>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <% if !@current_user.customer? and @user.customer? %>
    <div class="row">
      <% if @user.appointments.length > 0 %>
        <h1 class="display-3 text-center">Turnos</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Sucursal </th>
              <th scope="col">Estado</th>
              <th scope="col">Empleado</th>
              <th scope="col">Comentario asociado</th>
            </tr>
          </thead>
          <%- @user.appointments.each do |appointment|%>
            <tbody>
              <tr>
                <th><%= appointment.date %></th>
                <td><%= appointment.time.strftime("%k:%M") %></td>
                <td><%= appointment.branch_name %></td>
                <td><%= @statuses[appointment.status] %></td>
                <% if !appointment.pending? %>
                  <td><%= appointment.personnel_username %></td>
                  <td><%= appointment.comment %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <h3>No hay turnos para mostrar</h3>
      <% end %>
    </div>
  <% end %>
  <div><%= link_to 'volver', home_index_path if @current_user.customer? %></div>
  <div><%= link_to 'volver', users_path if !@current_user.customer? %></div>
</div>
