<div class="container">
<h1 class="display-4 text-center">Turnos</h1>
<div class="row">
    <div class="form-group">
      <%= form_for :appointment, :url => appointments_filter_path, :method => :post do |f| %>
        <div>
          <%= f.label :appointments, 'Filtrar listado por:' %>
          <%= f.select(:status, options_for_select(get_statuses, :selected => params[:status])) %>
        </div>
        <div>
          <%= f.submit 'Seleccionar', :class => 'btn btn-success' %>
        </div>
      <% end %>
    </div>
</div>
<div class="row">
  
  <% if @appointments.length > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sucursal</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Motivo</th>
        <th>Estado</th>
        <th>Empleado</th>
        <th>Comentario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <%- @appointments.each do |appointment| %>
      <tbody>
        <tr>
          <th><%= appointment.id %></th>
          <td><%= appointment.branch_id %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.time.strftime("%k:%M") %></td>
          <td><%= appointment.motive %></td>
          <td><%= Appointment.statuses[appointment.status] %></td>
          <td><%= appointment.personnel_id %></td>
          <% if !appointment.comment.blank? %>
          <td><%= appointment.comment %></td>
          <% else %>
          <td></td>
          <% end %>
          <td>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ver Acciones
              </a>
              <ul class="dropdown-menu">
              <%if !Current.user.bank_staff? %>
                <li><a class="dropdown-item"><%= link_to 'Cancelar', appointment, method: :delete, data: { confirm: 'Estás seguro de que deseas cancelarlo?'} %></a></li>
                <li><a class="dropdown-item"><%= link_to 'Editar', edit_appointment_path(appointment) %></a></li>
              <% end %>
                <li><a class="dropdown-item"><%= link_to 'Marcar Atendido', edit_attention_path(appointment) if !Current.user.customer? %></a></li>    
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
      <% end %>
  </table>
  <% else %>
  <h3>No hay turnos para mostrar</p>
<% end %>
</div>

  <div><%= link_to 'volver', home_index_path %></div>

</div>